{
    "presets": [
      [
        "@babel/env",
        {
          "useBuiltIns": "entry",
          "targets": {
            "node": "6.10",
            "esmodules": true
        }
        }
      ], "@babel/react"
    ],
    "plugins": [
      "@babel/proposal-class-properties",
      "@babel/transform-runtime",
      [
        "import",
        {
          "libraryName": "@material-ui/icons",
          "libraryDirectory": "",
          "camel2DashComponentName": false
        }
      ]
    ]
  }