  /*
  * Body CSS
  */

  html,
  body {
    height: 100%;
    background-color: #fff;
  }

  html,
  body,
  input,
  textarea,
  buttons {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  }


  /*
  * Layout CSS
  */

  #header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    transition: left 0.2s;
  }

  #header .mui-appbar{
    background-color: #009688; 
  } 

  #sidedrawer {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    left: -200px;
    overflow: auto;
    z-index: 2;
    background-color: #fff;
    transition: transform 0.2s;
  }

  #content-wrapper {
    min-height: 100%;
    overflow-x: hidden;
    margin-left: 0px;
    transition: margin-left 0.2s;

    /* sticky bottom */
    box-sizing: border-box;
    margin-bottom: -50px;
    padding-bottom: 50px;
  }

  /* content */
  .content {
    margin: 3% 10% 40px 10%;
  }

  /* caption */
  .caption {
    margin: 3% 10% 40px 10%;
  }

  .category {
    text-align: left;
    color:#757575;
    margin-bottom: 25px;
  }

  .title {
    text-align: center;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    color: #292929;
    margin-bottom: 25px;
  }

  .subtitle {
    text-align: left;
    color:#757575;
    margin-bottom: 25px;
  }

  .avatar {
    text-align: left;
    margin-left: 15px;
  }

  .avatar .icon {
    border-radius: 50%;
    width: 25px;
  }

  .name {
    font-size: .7rem;
    font-weight: 800;
    color: #B94039;
  }

  .date {
    font-size: .6rem;
    font-weight: 600;
    color:#AAAAAA;
  }

  /* paragragh */
  p {
    line-height: 1.7;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    word-break: break-word!important;
    color:#000;
    margin-top: 30px;
  }

  /* banner */
  .banner {
    margin-left:-15px;
    margin-right:-15px;
    text-align:center;
  }

  /* image */
  .picture {
    margin-top: 30px;
    text-align:center;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  /* blockquote */
  blockquote {
    border-radius: 3px;
    position: relative;  
    text-align: left;
    padding: 1rem 1.2rem;
    width: 80%;  
    color: #4a4a4a;
    margin: 1rem auto 2rem;
    color: #4a4a4a;
    background: #E8E8E8;
  }

  blockquote::before,
  blockquote::after{
      font-family: FontAwesome;
      position: absolute;
      top: 13px;
      color: #E8E8E8;
      font-size: 34px;
  }
  blockquote::before{
      content: "\f10d";
      margin-right: 13px;
      right: 100%;
  }
  blockquote::after{
      content: "\f10e";
      margin-left: 13px;
      left: 100%;  
  }

  /* video */
  .video-responsive{
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
      margin-top: 30px;
      margin-bottom: 10px;
  }

  .video-responsive object{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
  }

  /* related */
  .related {
    margin-left: 5%;
    margin-right: 5%;
  }

  .related-image {
    max-width: 100%;
    max-height: 160px;
    overflow: hidden;
  }

  .related-title {
    text-align: center;
    font-size: 15px;
    font-weight: 550;
    line-height: 30px;
    color: #292929;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .divider {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 50px;
  }

  .related-subtitle {
    text-align: left;
    color:#757575;
    margin-bottom: 25px;
  }

  @media (min-width: 760px) {
    #header {
      left: 200px;
    }
    
    #sidedrawer {
      transform: translate(200px);
    }
    
    #content-wrapper {
      margin-left: 200px;
    }
    
    body.hide-sidedrawer #header {
      left: 0;
    }
    
    body.hide-sidedrawer #sidedrawer {
      transform: translate(0px);
    }
    
    body.hide-sidedrawer #content-wrapper {
      margin-left: 0;
    }
    
    body.hide-sidedrawer #footer {
      margin-left: 0;
    }

    /* banner in larger screen */
    .banner {
      margin-left:-15px;
      margin-right:-15px;
      margin-top: 30px;
      text-align:center;
    }

    /* content container in larger screen */
    .content {
      margin: 3% 20% 3% 20%;
    }

    /* caption in larger screen */
    .caption {
      margin: 3% 25% 0% 25%;
    }

    .title {
      text-align: center;
      font-size: 35px;
      font-weight: 550;
      line-height: 40px;
      color: #292929;
      margin-bottom: 25px;
    }

    /* related in larger screen */
    .related {
      margin-left: 10%;
      margin-right: 10%;
    }

  }


  /**
    * Toggle Sidedrawer
    */
    
  #sidedrawer.active {
    transform: translate(200px);
  }


  /**
    * Header CSS
    */

  .sidedrawer-toggle {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    margin-right: 10px;
  }

  .sidedrawer-toggle:hover {
    color: #fff;
    text-decoration: none;
  }


  /*
    * Sidedrawer CSS
    */

  #sidedrawer-brand {
    padding-left: 20px;
  }

  #sidedrawer-brand span {
    font-weight: 900;
    color:#009688;
  }
  #sidedrawer a {
    color: inherit;
    text-decoration: none;
  }

  #sidedrawer ul {
    list-style: none;
  }

  #sidedrawer > ul {
    padding-left: 0px;
  }

  #sidedrawer > ul > li:first-child {
    padding-top: 15px;
  }

  #sidedrawer span {
    display: block;
    padding: 15px 22px;
    cursor: pointer;
  }

  #sidedrawer span i {
    font-size: 25px;
    margin-right: 10px;
  }

  #sidedrawer span:hover {
    background-color: #E0E0E0;
  }

  #sidedrawer span + ul > li {
    padding: 6px 0px;
  }


  /*
    * Footer CSS
    */

  #footer {
    margin-bottom: 40px;
  }

  #footer a span {
    color: #00796B;
    text-decoration: underline;
    font-weight: 600;
    margin-left: 3px;
    margin-right: 6px;
  }
